# Pandas Functions

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./tested.csv')

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [4]:
df.index

RangeIndex(start=0, stop=418, step=1)

In [5]:
df.columns.to_list()

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [6]:
df.to_dict()

{'PassengerId': {0: 892,
  1: 893,
  2: 894,
  3: 895,
  4: 896,
  5: 897,
  6: 898,
  7: 899,
  8: 900,
  9: 901,
  10: 902,
  11: 903,
  12: 904,
  13: 905,
  14: 906,
  15: 907,
  16: 908,
  17: 909,
  18: 910,
  19: 911,
  20: 912,
  21: 913,
  22: 914,
  23: 915,
  24: 916,
  25: 917,
  26: 918,
  27: 919,
  28: 920,
  29: 921,
  30: 922,
  31: 923,
  32: 924,
  33: 925,
  34: 926,
  35: 927,
  36: 928,
  37: 929,
  38: 930,
  39: 931,
  40: 932,
  41: 933,
  42: 934,
  43: 935,
  44: 936,
  45: 937,
  46: 938,
  47: 939,
  48: 940,
  49: 941,
  50: 942,
  51: 943,
  52: 944,
  53: 945,
  54: 946,
  55: 947,
  56: 948,
  57: 949,
  58: 950,
  59: 951,
  60: 952,
  61: 953,
  62: 954,
  63: 955,
  64: 956,
  65: 957,
  66: 958,
  67: 959,
  68: 960,
  69: 961,
  70: 962,
  71: 963,
  72: 964,
  73: 965,
  74: 966,
  75: 967,
  76: 968,
  77: 969,
  78: 970,
  79: 971,
  80: 972,
  81: 973,
  82: 974,
  83: 975,
  84: 976,
  85: 977,
  86: 978,
  87: 979,
  88: 980,
  89: 981,
  90: 982,
  91: 983,
  92: 984,
  93: 985,
  94: 986,
  95: 987,
  96: 988,
  97: 989,
  98: 990,
  99: 991,
  100: 992,
  101: 993,
  102: 994,
  103: 995,
  104: 996,
  105: 997,
  106: 998,
  107: 999,
  108: 1000,
  109: 1001,
  110: 1002,
  111: 1003,
  112: 1004,
  113: 1005,
  114: 1006,
  115: 1007,
  116: 1008,
  117: 1009,
  118: 1010,
  119: 1011,
  120: 1012,
  121: 1013,
  122: 1014,
  123: 1015,
  124: 1016,
  125: 1017,
  126: 1018,
  127: 1019,
  128: 1020,
  129: 1021,
  130: 1022,
  131: 1023,
  132: 1024,
  133: 1025,
  134: 1026,
  135: 1027,
  136: 1028,
  137: 1029,
  138: 1030,
  139: 1031,
  140: 1032,
  141: 1033,
  142: 1034,
  143: 1035,
  144: 1036,
  145: 1037,
  146: 1038,
  147: 1039,
  148: 1040,
  149: 1041,
  150: 1042,
  151: 1043,
  152: 1044,
  153: 1045,
  154: 1046,
  155: 1047,
  156: 1048,
  157: 1049,
  158: 1050,
  159: 1051,
  160: 1052,
  161: 1053,
  162: 1054,
  163: 1055,
  164: 1056,
  165: 1057,
  166: 1058,
  167: 1059,
  168: 1060,
  169: 1061,
  170: 1062,
  171: 1063,
  172: 1064,
  173: 1065,
  174: 1066,
  175: 1067,
  176: 1068,
  177: 1069,
  178: 1070,
  179: 1071,
  180: 1072,
  181: 1073,
  182: 1074,
  183: 1075,
  184: 1076,
  185: 1077,
  186: 1078,
  187: 1079,
  188: 1080,
  189: 1081,
  190: 1082,
  191: 1083,
  192: 1084,
  193: 1085,
  194: 1086,
  195: 1087,
  196: 1088,
  197: 1089,
  198: 1090,
  199: 1091,
  200: 1092,
  201: 1093,
  202: 1094,
  203: 1095,
  204: 1096,
  205: 1097,
  206: 1098,
  207: 1099,
  208: 1100,
  209: 1101,
  210: 1102,
  211: 1103,
  212: 1104,
  213: 1105,
  214: 1106,
  215: 1107,
  216: 1108,
  217: 1109,
  218: 1110,
  219: 1111,
  220: 1112,
  221: 1113,
  222: 1114,
  223: 1115,
  224: 1116,
  225: 1117,
  226: 1118,
  227: 1119,
  228: 1120,
  229: 1121,
  230: 1122,
  231: 1123,
  232: 1124,
  233: 1125,
  234: 1126,
  235: 1127,
  236: 1128,
  237: 1129,
  238: 1130,
  239: 1131,
  240: 1132,
  241: 1133,
  242: 1134,
  243: 1135,
  244: 1136,
  245: 1137,
  246: 1138,
  247: 1139,
  248: 1140,
  249: 1141,
  250: 1142,
  251: 1143,
  252: 1144,
  253: 1145,
  254: 1146,
  255: 1147,
  256: 1148,
  257: 1149,
  258: 1150,
  259: 1151,
  260: 1152,
  261: 1153,
  262: 1154,
  263: 1155,
  264: 1156,
  265: 1157,
  266: 1158,
  267: 1159,
  268: 1160,
  269: 1161,
  270: 1162,
  271: 1163,
  272: 1164,
  273: 1165,
  274: 1166,
  275: 1167,
  276: 1168,
  277: 1169,
  278: 1170,
  279: 1171,
  280: 1172,
  281: 1173,
  282: 1174,
  283: 1175,
  284: 1176,
  285: 1177,
  286: 1178,
  287: 1179,
  288: 1180,
  289: 1181,
  290: 1182,
  291: 1183,
  292: 1184,
  293: 1185,
  294: 1186,
  295: 1187,
  296: 1188,
  297: 1189,
  298: 1190,
  299: 1191,
  300: 1192,
  301: 1193,
  302: 1194,
  303: 1195,
  304: 1196,
  305: 1197,
  306: 1198,
  307: 1199,
  308: 1200,
  309: 1201,
  310: 1202,
  311: 1203,
  312: 1204,
  313: 1205,
  314: 1206,
  315: 1207,
  316: 1208,
  317: 1209,
  318: 1210,
  319: 1211,
  320: 1212,
  321: 1213,
  322: 1214,
  323: 1215,
  324: 1216,
  325: 1217,
  326: 1218,
  327: 1219,
  328: 1220,
  329: 1221,
  330: 1222,
  331: 1223,
  332: 1224,
  333: 1225,
  334: 1226,
  335: 1227,
  336: 1228,
  337: 1229,
  338: 1230,
  339: 1231,
  340: 1232,
  341: 1233,
  342: 1234,
  343: 1235,
  344: 1236,
  345: 1237,
  346: 1238,
  347: 1239,
  348: 1240,
  349: 1241,
  350: 1242,
  351: 1243,
  352: 1244,
  353: 1245,
  354: 1246,
  355: 1247,
  356: 1248,
  357: 1249,
  358: 1250,
  359: 1251,
  360: 1252,
  361: 1253,
  362: 1254,
  363: 1255,
  364: 1256,
  365: 1257,
  366: 1258,
  367: 1259,
  368: 1260,
  369: 1261,
  370: 1262,
  371: 1263,
  372: 1264,
  373: 1265,
  374: 1266,
  375: 1267,
  376: 1268,
  377: 1269,
  378: 1270,
  379: 1271,
  380: 1272,
  381: 1273,
  382: 1274,
  383: 1275,
  384: 1276,
  385: 1277,
  386: 1278,
  387: 1279,
  388: 1280,
  389: 1281,
  390: 1282,
  391: 1283,
  392: 1284,
  393: 1285,
  394: 1286,
  395: 1287,
  396: 1288,
  397: 1289,
  398: 1290,
  399: 1291,
  400: 1292,
  401: 1293,
  402: 1294,
  403: 1295,
  404: 1296,
  405: 1297,
  406: 1298,
  407: 1299,
  408: 1300,
  409: 1301,
  410: 1302,
  411: 1303,
  412: 1304,
  413: 1305,
  414: 1306,
  415: 1307,
  416: 1308,
  417: 1309},
 'Survived': {0: 0,
  1: 1,
  2: 0,
  3: 0,
  4: 1,
  5: 0,
  6: 1,
  7: 0,
  8: 1,
  9: 0,
  10: 0,
  11: 0,
  12: 1,
  13: 0,
  14: 1,
  15: 1,
  16: 0,
  17: 0,
  18: 1,
  19: 1,
  20: 0,
  21: 0,
  22: 1,
  23: 0,
  24: 1,
  25: 0,
  26: 1,
  27: 0,
  28: 0,
  29: 0,
  30: 0,
  31: 0,
  32: 1,
  33: 1,
  34: 0,
  35: 0,
  36: 1,
  37: 1,
  38: 0,
  39: 0,
  40: 0,
  41: 0,
  42: 0,
  43: 1,
  44: 1,
  45: 0,
  46: 0,
  47: 0,
  48: 1,
  49: 1,
  50: 0,
  51: 0,
  52: 1,
  53: 1,
  54: 0,
  55: 0,
  56: 0,
  57: 0,
  58: 0,
  59: 1,
  60: 0,
  61: 0,
  62: 0,
  63: 1,
  64: 0,
  65: 1,
  66: 1,
  67: 0,
  68: 0,
  69: 1,
  70: 1,
  71: 0,
  72: 1,
  73: 0,
  74: 1,
  75: 0,
  76: 0,
  77: 1,
  78: 0,
  79: 1,
  80: 0,
  81: 0,
  82: 0,
  83: 0,
  84: 0,
  85: 0,
  86: 1,
  87: 1,
  88: 1,
  89: 0,
  90: 1,
  91: 0,
  92: 1,
  93: 0,
  94: 0,
  95: 0,
  96: 1,
  97: 0,
  98: 1,
  99: 0,
  100: 1,
  101: 0,
  102: 0,
  103: 0,
  104: 1,
  105: 0,
  106: 0,
  107: 0,
  108: 0,
  109: 0,
  110: 0,
  111: 1,
  112: 1,
  113: 1,
  114: 1,
  115: 0,
  116: 0,
  117: 1,
  118: 0,
  119: 1,
  120: 1,
  121: 0,
  122: 1,
  123: 0,
  124: 0,
  125: 1,
  126: 0,
  127: 1,
  128: 0,
  129: 0,
  130: 0,
  131: 0,
  132: 1,
  133: 0,
  134: 0,
  135: 0,
  136: 0,
  137: 0,
  138: 1,
  139: 0,
  140: 1,
  141: 1,
  142: 0,
  143: 0,
  144: 0,
  145: 0,
  146: 0,
  147: 0,
  148: 0,
  149: 0,
  150: 1,
  151: 0,
  152: 0,
  153: 1,
  154: 0,
  155: 0,
  156: 1,
  157: 1,
  158: 0,
  159: 1,
  160: 1,
  161: 0,
  162: 1,
  163: 0,
  164: 0,
  165: 1,
  166: 0,
  167: 0,
  168: 1,
  169: 1,
  170: 0,
  171: 0,
  172: 0,
  173: 0,
  174: 0,
  175: 1,
  176: 1,
  177: 0,
  178: 1,
  179: 1,
  180: 0,
  181: 0,
  182: 1,
  183: 0,
  184: 1,
  185: 0,
  186: 1,
  187: 0,
  188: 1,
  189: 0,
  190: 0,
  191: 0,
  192: 0,
  193: 0,
  194: 0,
  195: 0,
  196: 0,
  197: 1,
  198: 0,
  199: 1,
  200: 1,
  201: 0,
  202: 0,
  203: 1,
  204: 0,
  205: 0,
  206: 1,
  207: 0,
  208: 1,
  209: 0,
  210: 0,
  211: 0,
  212: 0,
  213: 1,
  214: 1,
  215: 0,
  216: 1,
  217: 0,
  218: 1,
  219: 0,
  220: 1,
  221: 0,
  222: 1,
  223: 0,
  224: 1,
  225: 1,
  226: 0,
  227: 1,
  228: 0,
  229: 0,
  230: 0,
  231: 1,
  232: 0,
  233: 0,
  234: 0,
  235: 0,
  236: 0,
  237: 0,
  238: 1,
  239: 1,
  240: 1,
  241: 1,
  242: 0,
  243: 0,
  244: 0,
  245: 0,
  246: 1,
  247: 0,
  248: 1,
  249: 1,
  250: 1,
  251: 0,
  252: 0,
  253: 0,
  254: 0,
  255: 0,
  256: 0,
  257: 0,
  258: 1,
  259: 0,
  260: 0,
  261: 0,
  262: 1,
  263: 1,
  264: 0,
  265: 0,
  266: 0,
  267: 0,
  268: 1,
  269: 0,
  270: 0,
  271: 0,
  272: 1,
  273: 1,
  274: 0,
  275: 1,
  276: 0,
  277: 0,
  278: 0,
  279: 0,
  280: 1,
  281: 0,
  282: 1,
  283: 1,
  284: 1,
  285: 0,
  286: 0,
  287: 0,
  288: 0,
  289: 0,
  290: 0,
  291: 1,
  292: 0,
  293: 0,
  294: 0,
  295: 0,
  296: 1,
  297: 0,
  298: 0,
  299: 0,
  300: 0,
  301: 0,
  302: 0,
  303: 0,
  304: 1,
  305: 1,
  306: 0,
  307: 0,
  308: 0,
  309: 1,
  310: 0,
  311: 0,
  312: 0,
  313: 1,
  314: 1,
  315: 1,
  316: 0,
  317: 0,
  318: 0,
  319: 0,
  320: 0,
  321: 0,
  322: 0,
  323: 0,
  324: 1,
  325: 0,
  326: 1,
  327: 0,
  328: 0,
  329: 0,
  330: 1,
  331: 0,
  332: 0,
  333: 1,
  334: 0,
  335: 0,
  336: 0,
  337: 0,
  338: 0,
  339: 0,
  340: 0,
  341: 0,
  342: 0,
  343: 1,
  344: 0,
  345: 1,
  346: 0,
  347: 1,
  348: 0,
  349: 1,
  350: 1,
  351: 0,
  352: 0,
  353: 0,
  354: 1,
  355: 0,
  356: 1,
  357: 0,
  358: 0,
  359: 1,
  360: 0,
  361: 1,
  362: 1,
  363: 0,
  364: 1,
  365: 1,
  366: 0,
  367: 1,
  368: 1,
  369: 0,
  370: 0,
  371: 1,
  372: 0,
  373: 0,
  374: 1,
  375: 1,
  376: 1,
  377: 0,
  378: 0,
  379: 0,
  380: 0,
  381: 0,
  382: 1,
  383: 1,
  384: 0,
  385: 1,
  386: 0,
  387: 0,
  388: 0,
  389: 0,
  390: 0,
  391: 1,
  392: 0,
  393: 0,
  394: 0,
  395: 1,
  396: 0,
  397: 1,
  398: 0,
  399: 0,
  400: 1,
  401: 0,
  402: 1,
  403: 0,
  404: 0,
  405: 0,
  406: 0,
  407: 0,
  408: 1,
  409: 1,
  410: 1,
  411: 1,
  412: 1,
  413: 0,
  414: 1,
  415: 0,
  416: 0,
  417: 0},
 'Pclass': {0: 3,
  1: 3,
  2: 2,
  3: 3,
  4: 3,
  5: 3,
  6: 3,
  7: 2,
  8: 3,
  9: 3,
  10: 3,
  11: 1,
  12: 1,
  13: 2,
  14: 1,
  15: 2,
  16: 2,
  17: 3,
  18: 3,
  19: 3,
  20: 1,
  21: 3,
  22: 1,
  23: 1,
  24: 1,
  25: 3,
  26: 1,
  27: 3,
  28: 1,
  29: 3,
  30: 2,
  31: 2,
  32: 3,
  33: 3,
  34: 1,
  35: 3,
  36: 3,
  37: 3,
  38: 3,
  39: 3,
  40: 3,
  41: 1,
  42: 3,
  43: 2,
  44: 1,
  45: 3,
  46: 1,
  47: 3,
  48: 1,
  49: 3,
  50: 1,
  51: 2,
  52: 2,
  53: 1,
  54: 2,
  55: 3,
  56: 3,
  57: 3,
  58: 3,
  59: 1,
  60: 3,
  61: 2,
  62: 3,
  63: 3,
  64: 1,
  65: 2,
  66: 3,
  67: 1,
  68: 1,
  69: 1,
  70: 3,
  71: 3,
  72: 3,
  73: 1,
  74: 1,
  75: 1,
  76: 3,
  77: 1,
  78: 2,
  79: 3,
  80: 3,
  81: 1,
  82: 1,
  83: 3,
  84: 2,
  85: 3,
  86: 3,
  87: 3,
  88: 3,
  89: 2,
  90: 3,
  91: 3,
  92: 1,
  93: 3,
  94: 1,
  95: 3,
  96: 1,
  97: 3,
  98: 3,
  99: 3,
  100: 1,
  101: 2,
  102: 3,
  103: 3,
  104: 3,
  105: 3,
  106: 3,
  107: 3,
  108: 3,
  109: 2,
  110: 2,
  111: 3,
  112: 1,
  113: 3,
  114: 1,
  115: 3,
  116: 3,
  117: 3,
  118: 1,
  119: 2,
  120: 2,
  121: 3,
  122: 1,
  123: 3,
  124: 3,
  125: 3,
  126: 3,
  127: 3,
  128: 2,
  129: 3,
  130: 3,
  131: 1,
  132: 3,
  133: 3,
  134: 3,
  135: 3,
  136: 3,
  137: 2,
  138: 3,
  139: 3,
  140: 3,
  141: 1,
  142: 1,
  143: 2,
  144: 1,
  145: 3,
  146: 1,
  147: 3,
  148: 1,
  149: 2,
  150: 1,
  151: 3,
  152: 3,
  153: 3,
  154: 3,
  155: 3,
  156: 1,
  157: 3,
  158: 1,
  159: 3,
  160: 3,
  161: 3,
  162: 2,
  163: 3,
  164: 2,
  165: 3,
  166: 1,
  167: 3,
  168: 1,
  169: 3,
  170: 3,
  171: 3,
  172: 3,
  173: 3,
  174: 3,
  175: 2,
  176: 2,
  177: 1,
  178: 2,
  179: 1,
  180: 2,
  181: 1,
  182: 1,
  183: 3,
  184: 1,
  185: 2,
  186: 2,
  187: 3,
  188: 3,
  189: 2,
  190: 2,
  191: 1,
  192: 3,
  193: 2,
  194: 2,
  195: 3,
  196: 1,
  197: 3,
  198: 2,
  199: 3,
  200: 3,
  201: 3,
  202: 1,
  203: 2,
  204: 2,
  205: 1,
  206: 3,
  207: 2,
  208: 1,
  209: 3,
  210: 3,
  211: 3,
  212: 2,
  213: 2,
  214: 3,
  215: 1,
  216: 3,
  217: 1,
  218: 1,
  219: 3,
  220: 2,
  221: 3,
  222: 2,
  223: 3,
  224: 1,
  225: 3,
  226: 3,
  227: 3,
  228: 3,
  229: 2,
  230: 2,
  231: 1,
  232: 3,
  233: 3,
  234: 1,
  235: 3,
  236: 1,
  237: 3,
  238: 2,
  239: 1,
  240: 1,
  241: 2,
  242: 1,
  243: 3,
  244: 3,
  245: 1,
  246: 2,
  247: 2,
  248: 2,
  249: 3,
  250: 2,
  251: 3,
  252: 1,
  253: 3,
  254: 3,
  255: 3,
  256: 3,
  257: 3,
  258: 2,
  259: 3,
  260: 3,
  261: 3,
  262: 2,
  263: 3,
  264: 2,
  265: 3,
  266: 1,
  267: 3,
  268: 3,
  269: 3,
  270: 1,
  271: 3,
  272: 1,
  273: 3,
  274: 3,
  275: 2,
  276: 2,
  277: 2,
  278: 2,
  279: 2,
  280: 3,
  281: 3,
  282: 3,
  283: 3,
  284: 3,
  285: 3,
  286: 3,
  287: 1,
  288: 3,
  289: 3,
  290: 1,
  291: 3,
  292: 3,
  293: 1,
  294: 3,
  295: 3,
  296: 2,
  297: 3,
  298: 1,
  299: 3,
  300: 3,
  301: 2,
  302: 2,
  303: 3,
  304: 3,
  305: 1,
  306: 1,
  307: 3,
  308: 1,
  309: 3,
  310: 3,
  311: 3,
  312: 3,
  313: 3,
  314: 1,
  315: 3,
  316: 1,
  317: 2,
  318: 3,
  319: 2,
  320: 3,
  321: 3,
  322: 2,
  323: 1,
  324: 1,
  325: 3,
  326: 2,
  327: 1,
  328: 2,
  329: 2,
  330: 2,
  331: 1,
  332: 3,
  333: 3,
  334: 3,
  335: 1,
  336: 2,
  337: 3,
  338: 2,
  339: 3,
  340: 2,
  341: 3,
  342: 3,
  343: 1,
  344: 3,
  345: 3,
  346: 2,
  347: 3,
  348: 2,
  349: 2,
  350: 1,
  351: 2,
  352: 2,
  353: 2,
  354: 3,
  355: 1,
  356: 1,
  357: 3,
  358: 3,
  359: 3,
  360: 3,
  361: 2,
  362: 2,
  363: 3,
  364: 1,
  365: 3,
  366: 3,
  367: 3,
  368: 1,
  369: 2,
  370: 2,
  371: 1,
  372: 1,
  373: 2,
  374: 1,
  375: 1,
  376: 3,
  377: 2,
  378: 1,
  379: 3,
  380: 3,
  381: 3,
  382: 3,
  383: 3,
  384: 2,
  385: 2,
  386: 3,
  387: 2,
  388: 3,
  389: 3,
  390: 1,
  391: 1,
  392: 3,
  393: 2,
  394: 3,
  395: 1,
  396: 3,
  397: 1,
  398: 3,
  399: 3,
  400: 1,
  401: 2,
  402: 1,
  403: 1,
  404: 1,
  405: 2,
  406: 2,
  407: 1,
  408: 3,
  409: 3,
  410: 3,
  411: 1,
  412: 3,
  413: 3,
  414: 1,
  415: 3,
  416: 3,
  417: 3},
 'Name': {0: 'Kelly, Mr. James',
  1: 'Wilkes, Mrs. James (Ellen Needs)',
  2: 'Myles, Mr. Thomas Francis',
  3: 'Wirz, Mr. Albert',
  4: 'Hirvonen, Mrs. Alexander (Helga E Lindqvist)',
  5: 'Svensson, Mr. Johan Cervin',
  6: 'Connolly, Miss. Kate',
  7: 'Caldwell, Mr. Albert Francis',
  8: 'Abrahim, Mrs. Joseph (Sophie Halaut Easu)',
  9: 'Davies, Mr. John Samuel',
  10: 'Ilieff, Mr. Ylio',
  11: 'Jones, Mr. Charles Cresson',
  12: 'Snyder, Mrs. John Pillsbury (Nelle Stevenson)',
  13: 'Howard, Mr. Benjamin',
  14: 'Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)',
  15: 'del Carlo, Mrs. Sebastiano (Argenia Genovesi)',
  16: 'Keane, Mr. Daniel',
  17: 'Assaf, Mr. Gerios',
  18: 'Ilmakangas, Miss. Ida Livija',
  19: 'Assaf Khalil, Mrs. Mariana (Miriam")"',
  20: 'Rothschild, Mr. Martin',
  21: 'Olsen, Master. Artur Karl',
  22: 'Flegenheim, Mrs. Alfred (Antoinette)',
  23: 'Williams, Mr. Richard Norris II',
  24: 'Ryerson, Mrs. Arthur Larned (Emily Maria Borie)',
  25: 'Robins, Mr. Alexander A',
  26: 'Ostby, Miss. Helene Ragnhild',
  27: 'Daher, Mr. Shedid',
  28: 'Brady, Mr. John Bertram',
  29: 'Samaan, Mr. Elias',
  30: 'Louch, Mr. Charles Alexander',
  31: 'Jefferys, Mr. Clifford Thomas',
  32: 'Dean, Mrs. Bertram (Eva Georgetta Light)',
  33: 'Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"',
  34: 'Mock, Mr. Philipp Edmund',
  35: 'Katavelas, Mr. Vassilios (Catavelas Vassilios")"',
  36: 'Roth, Miss. Sarah A',
  37: 'Cacic, Miss. Manda',
  38: 'Sap, Mr. Julius',
  39: 'Hee, Mr. Ling',
  40: 'Karun, Mr. Franz',
  41: 'Franklin, Mr. Thomas Parham',
  42: 'Goldsmith, Mr. Nathan',
  43: 'Corbett, Mrs. Walter H (Irene Colvin)',
  44: 'Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)',
  45: 'Peltomaki, Mr. Nikolai Johannes',
  46: 'Chevre, Mr. Paul Romaine',
  47: 'Shaughnessy, Mr. Patrick',
  48: 'Bucknell, Mrs. William Robert (Emma Eliza Ward)',
  49: 'Coutts, Mrs. William (Winnie Minnie" Treanor)"',
  50: 'Smith, Mr. Lucien Philip',
  51: 'Pulbaum, Mr. Franz',
  52: 'Hocking, Miss. Ellen Nellie""',
  53: 'Fortune, Miss. Ethel Flora',
  54: 'Mangiavacchi, Mr. Serafino Emilio',
  55: 'Rice, Master. Albert',
  56: 'Cor, Mr. Bartol',
  57: 'Abelseth, Mr. Olaus Jorgensen',
  58: 'Davison, Mr. Thomas Henry',
  59: 'Chaudanson, Miss. Victorine',
  60: 'Dika, Mr. Mirko',
  61: 'McCrae, Mr. Arthur Gordon',
  62: 'Bjorklund, Mr. Ernst Herbert',
  63: 'Bradley, Miss. Bridget Delia',
  64: 'Ryerson, Master. John Borie',
  65: 'Corey, Mrs. Percy C (Mary Phyllis Elizabeth Miller)',
  66: 'Burns, Miss. Mary Delia',
  67: 'Moore, Mr. Clarence Bloomfield',
  68: 'Tucker, Mr. Gilbert Milligan Jr',
  69: 'Fortune, Mrs. Mark (Mary McDougald)',
  70: 'Mulvihill, Miss. Bertha E',
  71: 'Minkoff, Mr. Lazar',
  72: 'Nieminen, Miss. Manta Josefina',
  73: 'Ovies y Rodriguez, Mr. Servando',
  74: 'Geiger, Miss. Amalie',
  75: 'Keeping, Mr. Edwin',
  76: 'Miles, Mr. Frank',
  77: 'Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)',
  78: 'Aldworth, Mr. Charles Augustus',
  79: 'Doyle, Miss. Elizabeth',
  80: 'Boulos, Master. Akar',
  81: 'Straus, Mr. Isidor',
  82: 'Case, Mr. Howard Brown',
  83: 'Demetri, Mr. Marinko',
  84: 'Lamb, Mr. John Joseph',
  85: 'Khalil, Mr. Betros',
  86: 'Barry, Miss. Julia',
  87: 'Badman, Miss. Emily Louisa',
  88: "O'Donoghue, Ms. Bridget",
  89: 'Wells, Master. Ralph Lester',
  90: 'Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judith Andersson)',
  91: 'Pedersen, Mr. Olaf',
  92: 'Davidson, Mrs. Thornton (Orian Hays)',
  93: 'Guest, Mr. Robert',
  94: 'Birnbaum, Mr. Jakob',
  95: 'Tenglin, Mr. Gunnar Isidor',
  96: 'Cavendish, Mrs. Tyrell William (Julia Florence Siegel)',
  97: 'Makinen, Mr. Kalle Edvard',
  98: 'Braf, Miss. Elin Ester Maria',
  99: 'Nancarrow, Mr. William Henry',
  100: 'Stengel, Mrs. Charles Emil Henry (Annie May Morris)',
  101: 'Weisz, Mr. Leopold',
  102: 'Foley, Mr. William',
  103: 'Johansson Palmquist, Mr. Oskar Leander',
  104: 'Thomas, Mrs. Alexander (Thamine Thelma")"',
  105: 'Holthen, Mr. Johan Martin',
  106: 'Buckley, Mr. Daniel',
  107: 'Ryan, Mr. Edward',
  108: 'Willer, Mr. Aaron (Abi Weller")"',
  109: 'Swane, Mr. George',
  110: 'Stanton, Mr. Samuel Ward',
  111: 'Shine, Miss. Ellen Natalia',
  112: 'Evans, Miss. Edith Corse',
  113: 'Buckley, Miss. Katherine',
  114: 'Straus, Mrs. Isidor (Rosalie Ida Blun)',
  115: 'Chronopoulos, Mr. Demetrios',
  116: 'Thomas, Mr. John',
  117: 'Sandstrom, Miss. Beatrice Irene',
  118: 'Beattie, Mr. Thomson',
  119: 'Chapman, Mrs. John Henry (Sara Elizabeth Lawry)',
  120: 'Watt, Miss. Bertha J',
  121: 'Kiernan, Mr. John',
  122: 'Schabert, Mrs. Paul (Emma Mock)',
  123: 'Carver, Mr. Alfred John',
  124: 'Kennedy, Mr. John',
  125: 'Cribb, Miss. Laura Alice',
  126: 'Brobeck, Mr. Karl Rudolf',
  127: 'McCoy, Miss. Alicia',
  128: 'Bowenur, Mr. Solomon',
  129: 'Petersen, Mr. Marius',
  130: 'Spinner, Mr. Henry John',
  131: 'Gracie, Col. Archibald IV',
  132: 'Lefebre, Mrs. Frank (Frances)',
  133: 'Thomas, Mr. Charles P',
  134: 'Dintcheff, Mr. Valtcho',
  135: 'Carlsson, Mr. Carl Robert',
  136: 'Zakarian, Mr. Mapriededer',
  137: 'Schmidt, Mr. August',
  138: 'Drapkin, Miss. Jennie',
  139: 'Goodwin, Mr. Charles Frederick',
  140: 'Goodwin, Miss. Jessie Allis',
  141: 'Daniels, Miss. Sarah',
  142: 'Ryerson, Mr. Arthur Larned',
  143: 'Beauchamp, Mr. Henry James',
  144: 'Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey")"',
  145: 'Vander Planke, Mr. Julius',
  146: 'Hilliard, Mr. Herbert Henry',
  147: 'Davies, Mr. Evan',
  148: 'Crafton, Mr. John Bertram',
  149: 'Lahtinen, Rev. William',
  150: 'Earnshaw, Mrs. Boulton (Olive Potter)',
  151: 'Matinoff, Mr. Nicola',
  152: 'Storey, Mr. Thomas',
  153: 'Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)',
  154: 'Asplund, Master. Filip Oscar',
  155: 'Duquemin, Mr. Joseph',
  156: 'Bird, Miss. Ellen',
  157: 'Lundin, Miss. Olga Elida',
  158: 'Borebank, Mr. John James',
  159: 'Peacock, Mrs. Benjamin (Edith Nile)',
  160: 'Smyth, Miss. Julia',
  161: 'Touma, Master. Georges Youssef',
  162: 'Wright, Miss. Marion',
  163: 'Pearce, Mr. Ernest',
  164: 'Peruschitz, Rev. Joseph Maria',
  165: 'Kink-Heilmann, Mrs. Anton (Luise Heilmann)',
  166: 'Brandeis, Mr. Emil',
  167: 'Ford, Mr. Edward Watson',
  168: 'Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)',
  169: 'Hellstrom, Miss. Hilda Maria',
  170: 'Lithman, Mr. Simon',
  171: 'Zakarian, Mr. Ortin',
  172: 'Dyker, Mr. Adolf Fredrik',
  173: 'Torfa, Mr. Assad',
  174: 'Asplund, Mr. Carl Oscar Vilhelm Gustafsson',
  175: 'Brown, Miss. Edith Eileen',

In [7]:
df.shape

(418, 12)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [9]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [10]:
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [11]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [91]:
df[0]

KeyError: 0

In [12]:
df[:5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [13]:
df[1:-413]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [14]:
df.index.to_list()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417]

In [15]:
df.to_numpy()

array([[892, 0, 3, ..., 7.8292, nan, 'Q'],
       [893, 1, 3, ..., 7.0, nan, 'S'],
       [894, 0, 2, ..., 9.6875, nan, 'Q'],
       ...,
       [1307, 0, 3, ..., 7.25, nan, 'S'],
       [1308, 0, 3, ..., 8.05, nan, 'S'],
       [1309, 0, 3, ..., 22.3583, nan, 'C']], dtype=object)

In [16]:
df['Name'].to_numpy()

array(['Kelly, Mr. James', 'Wilkes, Mrs. James (Ellen Needs)',
       'Myles, Mr. Thomas Francis', 'Wirz, Mr. Albert',
       'Hirvonen, Mrs. Alexander (Helga E Lindqvist)',
       'Svensson, Mr. Johan Cervin', 'Connolly, Miss. Kate',
       'Caldwell, Mr. Albert Francis',
       'Abrahim, Mrs. Joseph (Sophie Halaut Easu)',
       'Davies, Mr. John Samuel', 'Ilieff, Mr. Ylio',
       'Jones, Mr. Charles Cresson',
       'Snyder, Mrs. John Pillsbury (Nelle Stevenson)',
       'Howard, Mr. Benjamin',
       'Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)',
       'del Carlo, Mrs. Sebastiano (Argenia Genovesi)',
       'Keane, Mr. Daniel', 'Assaf, Mr. Gerios',
       'Ilmakangas, Miss. Ida Livija',
       'Assaf Khalil, Mrs. Mariana (Miriam")"', 'Rothschild, Mr. Martin',
       'Olsen, Master. Artur Karl',
       'Flegenheim, Mrs. Alfred (Antoinette)',
       'Williams, Mr. Richard Norris II',
       'Ryerson, Mrs. Arthur Larned (Emily Maria Borie)',
       'Robins, Mr. Alexander A', 'Ostby, Miss. Helene Ragnhild',
       'Daher, Mr. Shedid', 'Brady, Mr. John Bertram',
       'Samaan, Mr. Elias', 'Louch, Mr. Charles Alexander',
       'Jefferys, Mr. Clifford Thomas',
       'Dean, Mrs. Bertram (Eva Georgetta Light)',
       'Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"',
       'Mock, Mr. Philipp Edmund',
       'Katavelas, Mr. Vassilios (Catavelas Vassilios")"',
       'Roth, Miss. Sarah A', 'Cacic, Miss. Manda', 'Sap, Mr. Julius',
       'Hee, Mr. Ling', 'Karun, Mr. Franz', 'Franklin, Mr. Thomas Parham',
       'Goldsmith, Mr. Nathan', 'Corbett, Mrs. Walter H (Irene Colvin)',
       'Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)',
       'Peltomaki, Mr. Nikolai Johannes', 'Chevre, Mr. Paul Romaine',
       'Shaughnessy, Mr. Patrick',
       'Bucknell, Mrs. William Robert (Emma Eliza Ward)',
       'Coutts, Mrs. William (Winnie Minnie" Treanor)"',
       'Smith, Mr. Lucien Philip', 'Pulbaum, Mr. Franz',
       'Hocking, Miss. Ellen Nellie""', 'Fortune, Miss. Ethel Flora',
       'Mangiavacchi, Mr. Serafino Emilio', 'Rice, Master. Albert',
       'Cor, Mr. Bartol', 'Abelseth, Mr. Olaus Jorgensen',
       'Davison, Mr. Thomas Henry', 'Chaudanson, Miss. Victorine',
       'Dika, Mr. Mirko', 'McCrae, Mr. Arthur Gordon',
       'Bjorklund, Mr. Ernst Herbert', 'Bradley, Miss. Bridget Delia',
       'Ryerson, Master. John Borie',
       'Corey, Mrs. Percy C (Mary Phyllis Elizabeth Miller)',
       'Burns, Miss. Mary Delia', 'Moore, Mr. Clarence Bloomfield',
       'Tucker, Mr. Gilbert Milligan Jr',
       'Fortune, Mrs. Mark (Mary McDougald)', 'Mulvihill, Miss. Bertha E',
       'Minkoff, Mr. Lazar', 'Nieminen, Miss. Manta Josefina',
       'Ovies y Rodriguez, Mr. Servando', 'Geiger, Miss. Amalie',
       'Keeping, Mr. Edwin', 'Miles, Mr. Frank',
       'Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)',
       'Aldworth, Mr. Charles Augustus', 'Doyle, Miss. Elizabeth',
       'Boulos, Master. Akar', 'Straus, Mr. Isidor',
       'Case, Mr. Howard Brown', 'Demetri, Mr. Marinko',
       'Lamb, Mr. John Joseph', 'Khalil, Mr. Betros',
       'Barry, Miss. Julia', 'Badman, Miss. Emily Louisa',
       "O'Donoghue, Ms. Bridget", 'Wells, Master. Ralph Lester',
       'Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judith Andersson)',
       'Pedersen, Mr. Olaf', 'Davidson, Mrs. Thornton (Orian Hays)',
       'Guest, Mr. Robert', 'Birnbaum, Mr. Jakob',
       'Tenglin, Mr. Gunnar Isidor',
       'Cavendish, Mrs. Tyrell William (Julia Florence Siegel)',
       'Makinen, Mr. Kalle Edvard', 'Braf, Miss. Elin Ester Maria',
       'Nancarrow, Mr. William Henry',
       'Stengel, Mrs. Charles Emil Henry (Annie May Morris)',
       'Weisz, Mr. Leopold', 'Foley, Mr. William',
       'Johansson Palmquist, Mr. Oskar Leander',
       'Thomas, Mrs. Alexander (Thamine Thelma")"',
       'Holthen, Mr. Johan Martin', 'Buckley, Mr. Daniel',
       'Ryan, Mr. Edward', 'Willer, Mr. Aaron (Abi Weller")"',
       'Swane, Mr. George', 'Stanton, Mr. Samuel Ward',
       'Shine, Miss. Ellen Natalia', 'Evans, Miss. Edith Corse',
       'Buckley, Miss. Katherine',
       'Straus, Mrs. Isidor (Rosalie Ida Blun)',
       'Chronopoulos, Mr. Demetrios', 'Thomas, Mr. John',
       'Sandstrom, Miss. Beatrice Irene', 'Beattie, Mr. Thomson',
       'Chapman, Mrs. John Henry (Sara Elizabeth Lawry)',
       'Watt, Miss. Bertha J', 'Kiernan, Mr. John',
       'Schabert, Mrs. Paul (Emma Mock)', 'Carver, Mr. Alfred John',
       'Kennedy, Mr. John', 'Cribb, Miss. Laura Alice',
       'Brobeck, Mr. Karl Rudolf', 'McCoy, Miss. Alicia',
       'Bowenur, Mr. Solomon', 'Petersen, Mr. Marius',
       'Spinner, Mr. Henry John', 'Gracie, Col. Archibald IV',
       'Lefebre, Mrs. Frank (Frances)', 'Thomas, Mr. Charles P',
       'Dintcheff, Mr. Valtcho', 'Carlsson, Mr. Carl Robert',
       'Zakarian, Mr. Mapriededer', 'Schmidt, Mr. August',
       'Drapkin, Miss. Jennie', 'Goodwin, Mr. Charles Frederick',
       'Goodwin, Miss. Jessie Allis', 'Daniels, Miss. Sarah',
       'Ryerson, Mr. Arthur Larned', 'Beauchamp, Mr. Henry James',
       'Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey")"',
       'Vander Planke, Mr. Julius', 'Hilliard, Mr. Herbert Henry',
       'Davies, Mr. Evan', 'Crafton, Mr. John Bertram',
       'Lahtinen, Rev. William', 'Earnshaw, Mrs. Boulton (Olive Potter)',
       'Matinoff, Mr. Nicola', 'Storey, Mr. Thomas',
       'Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)',
       'Asplund, Master. Filip Oscar', 'Duquemin, Mr. Joseph',
       'Bird, Miss. Ellen', 'Lundin, Miss. Olga Elida',
       'Borebank, Mr. John James', 'Peacock, Mrs. Benjamin (Edith Nile)',
       'Smyth, Miss. Julia', 'Touma, Master. Georges Youssef',
       'Wright, Miss. Marion', 'Pearce, Mr. Ernest',
       'Peruschitz, Rev. Joseph Maria',
       'Kink-Heilmann, Mrs. Anton (Luise Heilmann)', 'Brandeis, Mr. Emil',
       'Ford, Mr. Edward Watson',
       'Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)',
       'Hellstrom, Miss. Hilda Maria', 'Lithman, Mr. Simon',
       'Zakarian, Mr. Ortin', 'Dyker, Mr. Adolf Fredrik',
       'Torfa, Mr. Assad', 'Asplund, Mr. Carl Oscar Vilhelm Gustafsson',
       'Brown, Miss. Edith Eileen', 'Sincock, Miss. Maude',
       'Stengel, Mr. Charles Emil Henry',
       'Becker, Mrs. Allen Oliver (Nellie E Baumgardner)',
       'Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)',
       'McCrie, Mr. James Matthew', 'Compton, Mr. Alexander Taylor Jr',
       'Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)',
       'Lane, Mr. Patrick',
       'Douglas, Mrs. Frederick Charles (Mary Helene Baxter)',
       'Maybery, Mr. Frank Hubert',
       'Phillips, Miss. Alice Frances Louisa', 'Davies, Mr. Joseph',
       'Sage, Miss. Ada', 'Veal, Mr. James', 'Angle, Mr. William A',
       'Salomon, Mr. Abraham L', 'van Billiard, Master. Walter John',
       'Lingane, Mr. John', 'Drew, Master. Marshall Brines',
       'Karlsson, Mr. Julius Konrad Eugen',
       'Spedden, Master. Robert Douglas', 'Nilsson, Miss. Berta Olivia',
       'Baimbrigge, Mr. Charles Robert',
       'Rasmussen, Mrs. (Lena Jacobsen Solvang)', 'Murphy, Miss. Nora',
       'Danbom, Master. Gilbert Sigvard Emanuel',
       'Astor, Col. John Jacob', 'Quick, Miss. Winifred Vera',
       'Andrew, Mr. Frank Thomas', 'Omont, Mr. Alfred Fernand',
       'McGowan, Miss. Katherine', 'Collett, Mr. Sidney C Stuart',
       'Rosenbaum, Miss. Edith Louise', 'Delalic, Mr. Redjo',
       'Andersen, Mr. Albert Karvin', 'Finoli, Mr. Luigi',
       'Deacon, Mr. Percy William',
       'Howard, Mrs. Benjamin (Ellen Truelove Arman)',
       'Andersson, Miss. Ida Augusta Margareta', 'Head, Mr. Christopher',
       'Mahon, Miss. Bridget Delia', 'Wick, Mr. George Dennick',
       'Widener, Mrs. George Dunton (Eleanor Elkins)',
       'Thomson, Mr. Alexander Morrison',
       'Duran y More, Miss. Florentina', 'Reynolds, Mr. Harold J',
       'Cook, Mrs. (Selena Rogers)', 'Karlsson, Mr. Einar Gervasius',
       'Candee, Mrs. Edward (Helen Churchill Hungerford)',
       'Moubarek, Mrs. George (Omine Amenia" Alexander)"',
       'Asplund, Mr. Johan Charles', 'McNeill, Miss. Bridget',
       'Everett, Mr. Thomas James', 'Hocking, Mr. Samuel James Metcalfe',
       'Sweet, Mr. George Frederick', 'Willard, Miss. Constance',
       'Wiklund, Mr. Karl Johan', 'Linehan, Mr. Michael',
       'Cumings, Mr. John Bradley', 'Vendel, Mr. Olof Edvin',
       'Warren, Mr. Frank Manley', 'Baccos, Mr. Raffull',
       'Hiltunen, Miss. Marta',
       'Douglas, Mrs. Walter Donald (Mahala Dutton)',
       'Lindstrom, Mrs. Carl Johan (Sigrid Posse)',
       'Christy, Mrs. (Alice Frances)', 'Spedden, Mr. Frederic Oakley',
       'Hyman, Mr. Abraham', 'Johnston, Master. William Arthur Willie""',
       'Kenyon, Mr. Frederick R', 'Karnes, Mrs. J Frank (Claire Bennett)',
       'Drew, Mr. James Vivian',
       'Hold, Mrs. Stephen (Annie Margaret Hill)',
       'Khalil, Mrs. Betros (Zahie Maria" Elias)"',
       'West, Miss. Barbara J',
       'Abrahamsson, Mr. Abraham August Johannes',
       'Clark, Mr. Walter Miller', 'Salander, Mr. Karl Johan',
       'Wenzel, Mr. Linhart', 'MacKay, Mr. George William',
       'Mahon, Mr. John', 'Niklasson, Mr. Samuel',
       'Bentham, Miss. Lilian W', 'Midtsjo, Mr. Karl Albert',
       'de Messemaeker, Mr. Guillaume Joseph',
       'Nilsson, Mr. August Ferdinand',
       'Wells, Mrs. Arthur Henry (Addie" Dart Trevaskis)"',
       'Klasen, Miss. Gertrud Emilia',
       'Portaluppi, Mr. Emilio Ilario Giuseppe', 'Lyntakoff, Mr. Stanko',
       'Chisholm, Mr. Roderick Robert Crispin',
       'Warren, Mr. Charles William', 'Howard, Miss. May Elizabeth',
       'Pokrnic, Mr. Mate', 'McCaffry, Mr. Thomas Francis',
       'Fox, Mr. Patrick',
       'Clark, Mrs. Walter Miller (Virginia McDowell)',
       'Lennon, Miss. Mary', 'Saade, Mr. Jean Nassr',
       'Bryhl, Miss. Dagmar Jenny Ingeborg ',
       'Parker, Mr. Clifford Richard', 'Faunthorpe, Mr. Harry',
       'Ware, Mr. John James', 'Oxenham, Mr. Percy Thomas',
       'Oreskovic, Miss. Jelka', 'Peacock, Master. Alfred Edward',
       'Fleming, Miss. Honora', 'Touma, Miss. Maria Youssef',
       'Rosblom, Miss. Salli Helena', 'Dennis, Mr. William',
       'Franklin, Mr. Charles (Charles Fardon)',
       'Snyder, Mr. John Pillsbury', 'Mardirosian, Mr. Sarkis',
       'Ford, Mr. Arthur', 'Rheims, Mr. George Alexander Lucien',
       'Daly, Miss. Margaret Marcella Maggie""', 'Nasr, Mr. Mustafa',
       'Dodge, Dr. Washington', 'Wittevrongel, Mr. Camille',
       'Angheloff, Mr. Minko', 'Laroche, Miss. Louise',
       'Samaan, Mr. Hanna', 'Loring, Mr. Joseph Holland',
       'Johansson, Mr. Nils', 'Olsson, Mr. Oscar Wilhelm',
       'Malachard, Mr. Noel', 'Phillips, Mr. Escott Robert',
       'Pokrnic, Mr. Tome', 'McCarthy, Miss. Catherine Katie""',
       'Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)',
       'Allison, Mr. Hudson Joshua Creighton',
       'Aks, Master. Philip Frank', 'Hays, Mr. Charles Melville',
       'Hansen, Mrs. Claus Peter (Jennie L Howard)',
       'Cacic, Mr. Jego Grga', 'Vartanian, Mr. David',
       'Sadowitz, Mr. Harry', 'Carr, Miss. Jeannie',
       'White, Mrs. John Stuart (Ella Holmes)', 'Hagardon, Miss. Kate',
       'Spencer, Mr. William Augustus', 'Rogers, Mr. Reginald Harry',
       'Jonsson, Mr. Nils Hilding', 'Jefferys, Mr. Ernest Wilfred',
       'Andersson, Mr. Johan Samuel', 'Krekorian, Mr. Neshan',
       'Nesson, Mr. Israel', 'Rowe, Mr. Alfred G',
       'Kreuchen, Miss. Emilie', 'Assam, Mr. Ali',
       'Becker, Miss. Ruth Elizabeth',
       'Rosenshine, Mr. George (Mr George Thorne")"',
       'Clarke, Mr. Charles Valentine', 'Enander, Mr. Ingvar',
       'Davies, Mrs. John Morgan (Elizabeth Agnes Mary White) ',
       'Dulles, Mr. William Crothers', 'Thomas, Mr. Tannous',
       'Nakid, Mrs. Said (Waika Mary" Mowad)"', 'Cor, Mr. Ivan',
       'Maguire, Mr. John Edward', 'de Brito, Mr. Jose Joaquim',
       'Elias, Mr. Joseph', 'Denbury, Mr. Herbert',
       'Betros, Master. Seman', 'Fillbrook, Mr. Joseph Charles',
       'Lundstrom, Mr. Thure Edvin', 'Sage, Mr. John George',
       'Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)',
       'van Billiard, Master. James William',
       'Abelseth, Miss. Karen Marie', 'Botsford, Mr. William Hull',
       'Whabee, Mrs. George Joseph (Shawneene Abi-Saab)',
       'Giles, Mr. Ralph', 'Walcroft, Miss. Nellie',
       'Greenfield, Mrs. Leo David (Blanche Strouse)',
       'Stokes, Mr. Philip Joseph', 'Dibden, Mr. William',
       'Herman, Mr. Samuel', 'Dean, Miss. Elizabeth Gladys Millvina""',
       'Julian, Mr. Henry Forbes',
       'Brown, Mrs. John Murray (Caroline Lane Lamson)',
       'Lockyer, Mr. Edward', "O'Keefe, Mr. Patrick",
       'Lindell, Mrs. Edvard Bengtsson (Elin Gerda Persson)',
       'Sage, Master. William Henry',
       'Mallet, Mrs. Albert (Antoinette Magnin)',
       'Ware, Mrs. John James (Florence Louise Long)',
       'Strilic, Mr. Ivan',
       'Harder, Mrs. George Achilles (Dorothy Annan)',
       'Sage, Mrs. John (Annie Bullen)', 'Caram, Mr. Joseph',
       'Riihivouri, Miss. Susanna Juhantytar Sanni""',
       'Gibson, Mrs. Leonard (Pauline C Boeson)',
       'Pallas y Castello, Mr. Emilio', 'Giles, Mr. Edgar',
       'Wilson, Miss. Helen Alice', 'Ismay, Mr. Joseph Bruce',
       'Harbeck, Mr. William H', 'Dodge, Mrs. Washington (Ruth Vidaver)',
       'Bowen, Miss. Grace Scott', 'Kink, Miss. Maria',
       'Cotterill, Mr. Henry Harry""', 'Hipkins, Mr. William Edward',
       'Asplund, Master. Carl Edgar', "O'Connor, Mr. Patrick",
       'Foley, Mr. Joseph', 'Risien, Mrs. Samuel (Emma)',
       "McNamee, Mrs. Neal (Eileen O'Leary)",
       'Wheeler, Mr. Edwin Frederick""', 'Herman, Miss. Kate',
       'Aronsson, Mr. Ernst Axel Algot', 'Ashby, Mr. John',
       'Canavan, Mr. Patrick', 'Palsson, Master. Paul Folke',
       'Payne, Mr. Vivian Ponsonby',
       'Lines, Mrs. Ernest H (Elizabeth Lindsey James)',
       'Abbott, Master. Eugene Joseph', 'Gilbert, Mr. William',
       'Kink-Heilmann, Mr. Anton',
       'Smith, Mrs. Lucien Philip (Mary Eloise Hughes)',
       'Colbert, Mr. Patrick',
       'Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)',
       'Larsson-Rondberg, Mr. Edvard A', 'Conlon, Mr. Thomas Henry',
       'Bonnell, Miss. Caroline', 'Gale, Mr. Harry',
       'Gibson, Miss. Dorothy Winifred', 'Carrau, Mr. Jose Pedro',
       'Frauenthal, Mr. Isaac Gerald',
       'Nourney, Mr. Alfred (Baron von Drachstedt")"',
       'Ware, Mr. William Jeffery', 'Widener, Mr. George Dunton',
       'Riordan, Miss. Johanna Hannah""', 'Peacock, Miss. Treasteall',
       'Naughton, Miss. Hannah',
       'Minahan, Mrs. William Edward (Lillian E Thorpe)',
       'Henriksson, Miss. Jenny Lovisa', 'Spector, Mr. Woolf',
       'Oliva y Ocana, Dona. Fermina', 'Saether, Mr. Simon Sivertsen',
       'Ware, Mr. Frederick', 'Peter, Master. Michael J'], dtype=object)

In [17]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [18]:
import numpy as np
np.asarray(df)

array([[892, 0, 3, ..., 7.8292, nan, 'Q'],
       [893, 1, 3, ..., 7.0, nan, 'S'],
       [894, 0, 2, ..., 9.6875, nan, 'Q'],
       ...,
       [1307, 0, 3, ..., 7.25, nan, 'S'],
       [1308, 0, 3, ..., 8.05, nan, 'S'],
       [1309, 0, 3, ..., 22.3583, nan, 'C']], dtype=object)

In [19]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [20]:
# axis-0 => row
# axis-1 => col
df.sort_index(axis=0,ascending = False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q

In [21]:
df["PassengerId"][0] = "Sai"

/tmp/ipykernel_3614744/559573986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["PassengerId"][0] = "Sai"
/tmp/ipykernel_3614744/559573986.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Sai' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df["PassengerId"][0] = "Sai"

In [22]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,Sai,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [23]:
df.loc[1,'PassengerId'] = "Ram"

In [24]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,Sai,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,Ram,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [25]:
df.loc[[2,3],["Name","Age"]]

                        Name   Age
2  Myles, Mr. Thomas Francis  62.0
3           Wirz, Mr. Albert  27.0

In [26]:
df.loc[df["Age"]<20]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
21,913,0,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
35,927,0,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",male,18.5,0,0,2682,7.2292,NaN,C
55,947,0,3,"Rice, Master. Albert",male,10.0,4,1,382652,29.1250,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
389,1281,0,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
392,1284,0,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
395,1287,1,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
403,1295,0,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
409,1301,1,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S

In [27]:
df["Age"]<20

0      False
1      False
2      False
3      False
4      False
       ...
413    False
414    False
415    False
416    False
417    False
Name: Age, Length: 418, dtype: bool

In [28]:
df.iloc[5,3]

'Svensson, Mr. Johan Cervin'

In [30]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,Sai,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,Ram,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [33]:
df['Survived'].value_counts()

Survived
0    266
1    152
Name: count, dtype: int64